body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

section {
  padding: 20px;
  text-align: center;
}

form {
  margin-bottom: 20px;
}

#avatar-preview {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #fff;
}

.product {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}
